/* CSS styles for the registration page */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .signup-img {
    flex: 1;
    max-width: 50%;
    object-fit: cover;
  }
  
  .form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .register-form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #1da1f2;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #1da1f2;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  form input[type="submit"] {
    padding: 10px;
    background-color: #1da1f2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #0c87c9;
  }
  
  .login-here {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-here p {
    margin: 0;
  }
  
  .login-here a {
    color: #1da1f2;
    text-decoration: none;
  }
  
